@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-VariableFont_wght.ttf) format('truetype');
}

:root {
  --tailwind-sky-50: #f0f9ff;
  --tailwind-sky-200: #bae6fd;
  --tailwind-sky-400: #38bdf8;
  --tailwind-sky-500: #0ea5e9;
  --delete-red: #ef4444;
  --priority-low-green: #4ade80;
  --priority-medium-yellow: #fde047;
  --priority-high-red: #ef4444;
}

/* Header */

header {
  background-color: var(--tailwind-sky-400);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
}

.container-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: max-content;
}

.logo {
  height: 52px;
}

.logo-title {
  font-family: Pacifico, cursive;
  font-size: 4.5rem;
  color: white;
}

main {
  flex: 1;
  display: flex;
}

/* Nav */

nav {
  overflow-y: auto;
  background-color: var(--tailwind-sky-50);
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  padding: 22px;
  gap: 25px;
}

.nav-top {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 14px;
  gap: 9px;
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  min-width: max-content;
}

.nav-button:hover {
  background-color: rgb(228, 228, 228);
}

.selected,
.selected:hover {
  background-color: var(--tailwind-sky-200);
}

.selected > .nav-span {
  font-weight: 600;
}

.nav-icon {
  height: 16px;
}

.nav-span {
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-bottom > h1 {
  font-family: Heebo, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 5px;
}

.nav-projects {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-button:hover .project-delete{
  visibility: visible;
}

.task-count {
  font-family: Heebo, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
}

.project-delete {
  margin-left: auto;
  visibility: hidden;
}

.project-delete:hover {
  transform: scale(1.3);
}

.add-project > .nav-span {
  font-weight: 500;
}

.input-project {
  width: 100%;
  padding: 6px 12px;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
}

.container-add-project > div {
  display: flex;
  gap: 20px;
}

.project-add,
.project-cancel {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 6px;
}

.project-add {
  border: 3px solid var(--tailwind-sky-400);
  background-color: var(--tailwind-sky-400);
  color: white;
}

.project-add:hover {
  background-color: white;
  color: var(--tailwind-sky-400);
}

.project-cancel {
  border: 3px solid lightgrey;
  background-color: transparent;
  color: lightgrey;
}

.project-cancel:hover {
  background-color: lightgrey;
  color: white;
}

/* Section */

.container-project {
  overflow-y: auto;
  width: 60%;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-family: Heebo, sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  align-self: flex-start;
}

/* Task */

.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: max-content;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.task:hover {
  background-color: #e5e7eb;
}

.task-high {
  border-left: 6px solid var(--priority-high-red);
}

.task-medium {
  border-left: 6px solid var(--priority-medium-yellow);
}

.task-low {
  border-left: 6px solid var(--priority-low-green);
}

.task-checkbox {
  display: none;
}

.checkbox-div {
  width: 20px;
  height: 20px;
  border: 2px solid var(--tailwind-sky-500);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-div::after {
  content: '\2714';
  color: #f3f4f6;
  transform: scale(0);
  transition: all 0.2s;
}

.task-checkbox:checked + .checkbox-div {
  background-color: var(--tailwind-sky-500);
}

.task-checkbox:checked + .checkbox-div::after {
  transform: scale(1.25);
}

.task-title {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0px 12px;
}

.completed {
  text-decoration: line-through;
}

.task-date {
  font-family: Heebo, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: auto;
  padding: 0px 15px;
}

.expired {
  font-weight: 600;
  color: red;
}

.task-edit-button,
.task-trash-button {
  padding: 0px 8px;
  cursor: pointer;
  height: 22px;
}

.task-edit-button:hover,
.task-trash-button:hover {
  transform: scale(1.15);
}

.add-task {
  padding-left: 16px;
}

.add-task > img {
  height: 22px;
}

.add-task > span {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0px 12px;
}

.empty-task {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
}

/* Create */

.modal-create,
.modal-edit,
.modal-delete,
.modal-view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px;
  border-radius: 3px;
  z-index: 10;
}

.modal-create,
.modal-edit {
  width: 40vw;
  min-width: 400px;
}

.modal-create::backdrop,
.modal-edit::backdrop {
  background: black;
  opacity: 0.3;
}

.modal-create-top,
.modal-edit-top,
.modal-delete-top,
.modal-view-top {
  background-color: var(--tailwind-sky-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modal-create-top > span,
.modal-edit-top > span,
.modal-delete-top > span,
.view-title {
  font-family: Heebo, sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: white;
  padding-left: 5px;
}

.modal-create-top > button,
.modal-edit-top > button,
.modal-delete-top > button,
.modal-view-top > button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.exit-button {
  width: 35px;
  aspect-ratio: 1 / 1;
}

.modal-create-bottom,
.modal-edit-bottom,
.modal-delete-bottom {
  display: flex;
  flex-direction: column;
  padding: 18px;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.create-task-title,
.edit-task-title {
  border: none;
  outline: none;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.create-task-title::placeholder,
.create-task-desc::placeholder,
.edit-task-title::placeholder,
.edit-task-desc::placeholder {
  font-size: 1.4rem;
  color: gray;
}

.create-task-desc,
.edit-task-desc {
  border: none;
  outline: none;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 100px;
  resize: none;
  background-color: transparent;
}

.container-date {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--tailwind-sky-500);
  display: flex;
  align-items: center;
}

label[for="create-task-date"],
label[for="edit-task-date"] {
  margin-right: 10px;
}

#create-task-date,
#edit-task-date {
  background-color: var(--tailwind-sky-500);
  border: none;
  outline: none;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;
  padding: 2px 8px;
  border-radius: 3px;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

.container-priority {
  display: flex;
  width: 100%;
  align-items: center;
}

.container-priority > span {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--tailwind-sky-500);
  margin-right: 10px;
}

.container-priority-level > input[type="radio"] {
  width: 1px;
  height: 1px;
}

.container-priority-level > label {
  cursor: pointer;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 3px;
  transition: all 0.2s;
  background-color: white;
}

.container-priority-level > label:hover,
input[name="create-task-priority"]:checked + label,
input[name="edit-task-priority"]:checked + label {
  color: white;
}

.label-low {
  border: 3px solid var(--priority-low-green);
  color: var(--priority-low-green);
}

.label-low:hover,
input[value="low"]:checked + label {
  background-color: var(--priority-low-green);
}

.label-medium {
  border: 3px solid var(--priority-medium-yellow);
  color: var(--priority-medium-yellow);
}

.label-medium:hover,
input[value="medium"]:checked + label {
  background-color: var(--priority-medium-yellow);
}

.label-high {
  border: 3px solid var(--priority-high-red);
  color: var(--priority-high-red);
}

.label-high:hover,
input[value="high"]:checked + label {
  background-color: var(--priority-high-red);
}

.create-add-button,
.edit-change-button {
  margin-left: auto;
  cursor: pointer;
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 3px;
  border: 3px solid var(--tailwind-sky-500);
  background-color: var(--tailwind-sky-500);
  color: white;
  transition: all 0.2s;
}

.create-add-button:hover,
.edit-change-button:hover {
  background-color: white;
  color: var(--tailwind-sky-500);
}

/* Delete */

.modal-delete,
.modal-view {
  width: 30vw;
  min-width: 250px;
}

.modal-delete::backdrop,
.modal-view::backdrop {
  background: black;
  opacity: 0.3;
}

.modal-delete-bottom {
  gap: 35px;
}

.modal-delete-bottom > span,
.view-desc,
.view-project,
.view-date,
.view-priority {
  font-family: Heebo, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--tailwind-sky-500);
}

.container-confirm {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.container-confirm > button {
  font-family: Heebo, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 3px 12px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.delete-confirm-button {
  background-color: var(--delete-red);
  border: 3px solid var(--delete-red);
}

.delete-confirm-button:hover {
  background-color: white;
  color: var(--delete-red);
}

/* View */

.modal-view-bottom {
  display: flex;
  flex-direction: column;
  padding: 18px;
  height: 100%;
  width: 100%;
}

.view-desc {
  margin-bottom: 30px;
}

.view-low {
  color: var(--priority-low-green);
}

.view-medium {
  color: var(--priority-medium-yellow);
}

.view-high {
  color: var(--priority-high-red);
}

@media (max-width: 576px) {
  main {
    flex-direction: column;
  }

  nav {
    flex-basis: 170px;
  }

  .container-project {
    margin: 0;
    padding-inline: 30px;
    width: 100%;
  }
}
