img {
  height: 25px;
}

html {
  --main-blue: #38bdf8;
  --light-blue: #eff6ff;
  --selected-blue: #bae6fd;
  --add-green: #4ade80;
  --cancel-red: #f87171;
  --add-green-hover: #22c55e;
  --cancel-red-hover: #ef4444;
}

@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico/Pacifico-Regular.ttf) format(truetype);
  font-weight: normal;
}

/* @font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-Light.ttf) format(truetype);
  font-weight: 300;
}

@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-SemiBold.ttf) format(truetype);
  font-weight: 600;
} */

@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-VariableFont_wght.ttf) format(truetype);
}

:root {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 100px 1fr auto; */
}

header {
  /* grid-area: 1 / 1 / 2 / 3; */
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
}

.logo {
  height: 52px;
}

.logo-title {
  font-family: Pacifico, cursive;
  font-size: 45px;
  color: white;
}

main {
  flex: 1;
  display: flex;
  /* justify-content: space-between; */
}

/* Nav */

nav {
  /* grid-area: 2 / 1 / 3 / 2; */
  overflow-y: auto;
  background-color: var(--light-blue);
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 22px;
}

.nav-top {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* padding-block: 15px; */
}

.nav-button {
  width: 100%;
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 6px 14px;
  gap: 9px;
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
}

.nav-button:hover {
  background-color: rgb(228, 228, 228);
}

.selected {
  background-color: var(--selected-blue);
}

.selected > .nav-span {
  font-weight: 600;
}

.nav-icon {
  height: 16px;
}

.nav-span {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 22px;
}

.nav-bottom > h1 {
  font-family: Heebo, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
}

.nav-projects {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-count {
  /* border-radius: 50%;
  border: 2px solid black;
  height: 24px;
  aspect-ratio: 1 / 1; */
  font-family: Heebo, sans-serif;
  font-size: 12px;
  font-weight: 400;
  /* align-self: flex-end; */
  color: gray;
}

.project-delete {
  /* justify-self: flex-end; */
  margin-left: auto;
}

.project-delete:hover {
  transform: scale(1.3);
}

#add-project {
  margin-top: 15px;
}

.container-add-project {
  padding: 15px 0px;
}

#input-project {
  width: 100%;
  padding: 6px 12px;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 4px;
}

.container-add-project > div {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}

.add-button, .cancel-button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  color: white;
}

.add-button {
  border: 1px solid var(--add-green);
  background-color: var(--add-green);
}

.add-button:hover {
  background-color: var(--add-green-hover);
}

.cancel-button {
  border: 1px solid var(--cancel-red);
  background-color: var(--cancel-red);
}

.cancel-button:hover {
  background-color: var(--cancel-red-hover);
}

/* Project */

.container-project {
  /* grid-area: 2 / 2 / 3 / 3; */
  overflow-y: auto;
}

.project-title {
  font-family: Heebo, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.task-title {
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.task-date {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Create */

.container-create {
  display: none;
}

/* Footer */

footer {
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0D1117;
  /* grid-area: 3 / 1 / 4 / 3; */
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}
