html {
  --main-blue: #38bdf8;
  --light-blue: #eff6ff;
  --selected-blue: #bae6fd;
  --add-green: #4ade80;
  --cancel-red: #f87171;
  --add-green-hover: #22c55e;
  --cancel-red-hover: #ef4444;
  --nav-width: 300px;
  --priority-high: #ef4444;
  --priority-medium: #fde047;
  --priority-low: #4ade80;
  --checkbox-blue: #0ea5e9;
}

@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico/Pacifico-Regular.ttf) format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: Heebo;
  src: url(fonts/Heebo/Heebo-VariableFont_wght.ttf) format(truetype);
}

:root {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: var(--nav-width) 1fr;
  grid-template-rows: 100px 1fr 55px;
}

/* Header */

header {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
}

.container-header {
  cursor: pointer;
}

.logo {
  height: 52px;
}

.logo-title {
  font-family: Pacifico, cursive;
  font-size: 45px;
  color: white;
}

main {
  flex: 1;
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
}

/* Nav */

nav {
  overflow-y: auto;
  background-color: var(--light-blue);
  width: 20vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 22px;
}

.nav-top {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nav-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 6px 14px;
  gap: 9px;
  cursor: pointer;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
}

.nav-button:hover {
  background-color: rgb(228, 228, 228);
}

.selected,
.selected:hover {
  background-color: var(--selected-blue);
}

.selected>.nav-span {
  font-weight: 600;
}

.nav-icon {
  height: 16px;
}

.nav-span {
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 22px;
}

.nav-bottom>h1 {
  font-family: Heebo, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 5px;
}

.nav-projects {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-count {
  font-family: Heebo, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.project-delete {
  margin-left: auto;
}

.project-delete:hover {
  transform: scale(1.3);
}

#add-project>.nav-span {
  font-weight: 500;
}

.container-add-project {
  padding: 15px 0px;
}

#input-project {
  width: 100%;
  padding: 6px 12px;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 4px;
}

.container-add-project>div {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
}

.add-button,
.cancel-button {
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  color: white;
}

.add-button {
  border: 1px solid var(--add-green);
  background-color: var(--add-green);
}

.add-button:hover {
  background-color: var(--add-green-hover);
}

.cancel-button {
  border: 1px solid var(--cancel-red);
  background-color: var(--cancel-red);
}

.cancel-button:hover {
  background-color: var(--cancel-red-hover);
}

/* Project */

.container-project {
  overflow-y: auto;
  width: 100%;
  min-width: 400px;
  margin: 0px 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-title {
  font-family: Heebo, sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 20px 0px;
}

/* Task */

.container-task {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: none;
  border-radius: 4px 0px 0px 4px;
}

.task:hover {
  background-color: #e5e7eb;
}

.priority-high {
  border-left: 6px solid var(--priority-high);
}

.priority-medium {
  border-left: 6px solid var(--priority-medium);
}

.priority-low {
  border-left: 6px solid var(--priority-low);
}

.task-checkbox {
  display: none;
}

.checkbox-div {
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--checkbox-blue);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.checkbox-div::after {
  content: '\2714';
  color: #f3f4f6;
  transform: scale(0);
  transition: all 0.2s;
}

.task-checkbox:checked + .checkbox-div {
  background-color: var(--checkbox-blue);
}

.task-checkbox:checked + .checkbox-div::after {
  transform: scale(1.25);
} 

.task-title {
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 12px;
}

.task-date {
  font-family: Heebo, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-left: auto;
  padding: 0px 15px;
}

.task-edit,
.task-delete {
  padding: 0px 8px;
  cursor: pointer;
  height: 22px;
}

.task-edit:hover,
.task-delete:hover {
  transform: scale(1.15);
}

#add-task>img {
  height: 22px;
}

#add-task>span {
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 12px;
}

.empty-task {
  font-family: Heebo, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Create */

.container-create {
  display: none;
}

/* Footer */

footer {
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0D1117;
  grid-area: 3 / 1 / 4 / 3;
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}